a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%;}
html,body{height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
b,strong{font-weight:bold;}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
li{display:list-item;}
table{border-collapse:collapse;border-spacing:0;}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
sub,sup,small{font-size:75%;}
sub,sup{line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
svg{overflow:hidden;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0;}
h1{font-size:1.3em;font-weight:bold;}
h2{font-size:1.2em;font-weight:bold;}
h3{font-size:1.2em;font-weight:normal;}
h4{font-size:1.1em;font-weight:normal;}
h5{font-size:1em;font-weight:normal;}
h6{font-size:1em;font-weight:normal;}
ol{list-style:decimal;}
ul{list-style:disc;}
li{margin-left:30px;}
body{min-width:960px;}
.container_16{margin-left:auto;margin-right:auto;width:960px;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px;}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16{position:relative;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.grid_1{width:40px;}
.grid_2{width:100px;}
.grid_3{width:160px;}
.grid_4{width:220px;}
.grid_5{width:280px;}
.grid_6{width:340px;}
.grid_7{width:400px;}
.grid_8{width:460px;}
.grid_9{width:520px;}
.grid_10{width:580px;}
.grid_11{width:640px;}
.grid_12{width:700px;}
.grid_13{width:760px;}
.grid_14{width:820px;}
.grid_15{width:880px;}
.grid_16{width:940px;}
.prefix_1{padding-left:60px;}
.prefix_2{padding-left:120px;}
.prefix_3{padding-left:180px;}
.prefix_4{padding-left:240px;}
.prefix_5{padding-left:300px;}
.prefix_6{padding-left:360px;}
.prefix_7{padding-left:420px;}
.prefix_8{padding-left:480px;}
.prefix_9{padding-left:540px;}
.prefix_10{padding-left:600px;}
.prefix_11{padding-left:660px;}
.prefix_12{padding-left:720px;}
.prefix_13{padding-left:780px;}
.prefix_14{padding-left:840px;}
.prefix_15{padding-left:900px;}
.suffix_1{padding-right:60px;}
.suffix_2{padding-right:120px;}
.suffix_3{padding-right:180px;}
.suffix_4{padding-right:240px;}
.suffix_5{padding-right:300px;}
.suffix_6{padding-right:360px;}
.suffix_7{padding-right:420px;}
.suffix_8{padding-right:480px;}
.suffix_9{padding-right:540px;}
.suffix_10{padding-right:600px;}
.suffix_11{padding-right:660px;}
.suffix_12{padding-right:720px;}
.suffix_13{padding-right:780px;}
.suffix_14{padding-right:840px;}
.suffix_15{padding-right:900px;}
.push_1{left:60px;}
.push_2{left:120px;}
.push_3{left:180px;}
.push_4{left:240px;}
.push_5{left:300px;}
.push_6{left:360px;}
.push_7{left:420px;}
.push_8{left:480px;}
.push_9{left:540px;}
.push_10{left:600px;}
.push_11{left:660px;}
.push_12{left:720px;}
.push_13{left:780px;}
.push_14{left:840px;}
.push_15{left:900px;}
.pull_1{left:-60px;}
.pull_2{left:-120px;}
.pull_3{left:-180px;}
.pull_4{left:-240px;}
.pull_5{left:-300px;}
.pull_6{left:-360px;}
.pull_7{left:-420px;}
.pull_8{left:-480px;}
.pull_9{left:-540px;}
.pull_10{left:-600px;}
.pull_11{left:-660px;}
.pull_12{left:-720px;}
.pull_13{left:-780px;}
.pull_14{left:-840px;}
.pull_15{left:-900px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after,.container_16:before,.container_16:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
.clearfix:after,.container_16:after{clear:both;}
.clearfix,.container_16{zoom:1;}
#wrap{min-height:100%;}
#header{background-color:#000;border-bottom:3px solid #08c;margin-bottom:1em;line-height:2.5em;font-size:0.8em;}#header a{color:#fff;text-decoration:none;}#header a:hover{color:#08c;}
#header .links{text-align:right;}
#footer{background-color:#eee;color:#888;text-shadow:1px 1px 2px #ddd;border-top:0.1em solid #dddddd;line-height:3.9em;position:relative;margin-top:-4em;height:3.9em;clear:both;}#footer a{color:#666;text-decoration:none;}#footer a:hover{color:#08c;text-decoration:underline;}
#content{overflow:auto;padding-bottom:4em;}#content .article_list header,#content article header{font-weight:bold;font-size:1.3em;}#content .article_list header time,#content article header time{display:block;color:#666;margin-bottom:0.2em;}
#content .article_list header a,#content article header a{font-size:1.2em;display:block;color:#000;text-decoration:none;}
#content .article_list{margin-bottom:0.5em;}#content .article_list header time{margin:1em 0px 0px;}
#content .article_list header:first-child time{margin:0px;}
#content article{margin-bottom:2em;line-height:1.5em;}#content article .content{margin:1em 0px;}#content article .content p,#content article .content ul,#content article .content pre{margin-bottom:1em;}
#content article .content a{color:#08c;text-decoration:none;}#content article .content a:hover{color:#08c;text-decoration:underline;}
#content article .content a:visited{color:#90c;}
body{font-family:'Open Sans','Helvetica',sans-serif;}
pre,code{font-family:'Inconsolata',Consolas,monospace;}
