body > header {
	background-color: #000;
	border-bottom: 3px solid #08C;
	margin-bottom: 1em;
	a {
		color: #fff;
		text-decoration: none;
	}
	.links {
		text-align: right;
	}
}

section.content {
	.article_list header, article header {
		font-weight: bold;
		font-size: 1.3em;
		time {
			color: #666;
		}
		a {
			font-size: 1.2em;
			display: block;
			color: #000;
			text-decoration: none;
		}
	}
	article {
		margin-bottom: 2em;
		line-height: 1.5em;
		.content {
			margin: 1em 0px;
			p {
				margin-bottom: 1em;
			}
		}
	}
}
