a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%;}
html,body{height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
b,strong{font-weight:bold;}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
li{display:list-item;}
table{border-collapse:collapse;border-spacing:0;}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
sub,sup,small{font-size:75%;}
sub,sup{line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
svg{overflow:hidden;}
#header{background-color:#000;border-bottom:3px solid #08c;margin-bottom:1em;line-height:2.5em;padding:0px 0.5em;}#header a{color:#fff;text-decoration:none;}
#header h1{display:inline;}
#header .links{float:right;}
#footer{background-color:#eee;color:#888;border-top:1px solid #ddd;line-height:1.5em;font-size:0.85em;text-align:center;}#footer a{color:#666;text-decoration:none;display:block;}
#content .article_list header,#content article header{text-align:center;font-weight:bold;font-size:1.2em;}#content .article_list header time,#content article header time{display:block;color:#666;margin-bottom:0.2em;}
#content .article_list header a,#content article header a{display:block;color:#000;text-decoration:none;}
#content .article_list{margin-bottom:0.5em;padding:0px 0.5em;}#content .article_list header{margin-bottom:0.5em;text-align:left;}
#content .article_list header time{margin:1em 0px 0px;}
#content .article_list header:first-child time{margin:0px;}
#content article{border-top:1px solid #e0e0e0;padding:1em 0.5em;line-height:1.5em;}#content article:first-child{border-top:none;padding-top:0px;}
#content article .content{padding:1em 0px;}#content article .content p,#content article .content ul,#content article .content pre{margin-bottom:1em;}
#content article .content p{text-indent:1.5em;}
#content article .content a{color:#08c;text-decoration:none;}#content article .content a:visited{color:#90c;}
#content article .content ul{list-style:disc;margin-left:1em;}#content article .content ul li{margin-left:1em;}
body{font-family:'Open Sans','Helvetica',sans-serif;width:100%;}
pre,code{font-family:'Inconsolata',Consolas,monospace;}
@media (orientation: portrait){#content{font-size:0.8em;}}@media (orientation: landscape){#content,#footer{font-size:0.5em;}}
